// COLORS
$accentClr-orange: #CB6125;
$accentClr-red: #CB6125;
$primaryClr: #262837;
$primaryClr-darken: #1b1d25;
$whiteClr: #fff;
$whiteClrDarken: #bebaba;

// GAPS | PADDINGS
$spacing-sm: .5em;
$spacing-md: 1em;
$spacing-l: 1.5em;
$spacing-xl: 2.5em;

// FONT-SIZES
$fsz-sm: 1.3rem;
$fsz-md: 1.5rem;
$fsz-l: 2rem;
